<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Jarbas AI - Login</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

<div class="container">
    <div class="card">
        <h1>JARBAS.AI</h1>

        <form method="POST">
            <input type="email" name="email" placeholder="Email" required>

            <input type="password" name="senha" placeholder="Senha" required>

            <button type="submit">Entrar</button>
        </form>

        <a href="/registro">Criar conta</a>
    </div>
</div>

</body>
</html>
